[submodule "External/Opacity-MicroMap-SDK"]
	path = External/Opacity-MicroMap-SDK
	url = https://github.com/NVIDIAGameWorks/Opacity-MicroMap-SDK.git
	branch = main
[submodule "External/NRD"]
	path = External/NRD
	url = https://github.com/NVIDIA-RTX/NRD.git
	branch = master
[submodule "External/NRIFramework"]
	path = External/NRIFramework
	url = https://github.com/NVIDIA-RTX/NRIFramework.git
	branch = main
